<!DOCTYPE html>
<html lang="en">
<head>
  <title>VIETSOZ</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="style/style.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  
</head>
<body>
  <nav class="navbar navbar-expand-xl navbar-light border-bottom border-black-50">
    <div class="container">
      <a class="nav__logo--impact navbar-brand text-success" href="#">VIETSOZ</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar__item--roboto navbar-nav mr-auto text-danger">
          <li class="nav-item">
            <a class="nav-link" href="#">TRANG CHỦ</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">SỰ KIỆN</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">XÃ HỘI</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">THẾ GIỚI</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">GIÁO DỤC</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">GIẢI TRÍ</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">NHỊP SỐNG TRẺ</a>
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0 inner-addon right-addon">
          <input class="form-search__placeholder form-control mr-sm-2" type="search" placeholder="Tìm kiếm" aria-label="Search">
          <i class="fas fa-search"></i>
        </form>
      </div>
    </div>
  </nav> <!-- end nav -->
  <div class="main">
    <div class="container mt-4 mb-5">
      <div class="row">
        <div class="main__content col-xl-8 border-xl-right">
          <div class="row mb-4">
            <div class="content__card col-xl-7">
              <img class="card__image img-fluid" src="images/image1.jpg" alt="image-1">
              <h4 class="card__title my-4">Công trình xanh cho nhà ở đô thị: Phải hướng đến sự phát triển bền vững</h4>
              <p class="card__desc text-justify">Theo thông báo ngày hôm nay (28/1), đối tác chiến lược của Công ty cổ phần Tập đoàn Masan là 
                Singha Asia Holding Pte Ltd ("Singha") đã hoàn thành đợt góp vốn đầu tiên trị giá 650 triệu USD vào công ty này.</p>
            </div>
            <div class="content__list col-xl-5">
              <ul class="list-unstyled">
                <li class="media">
                  <img class="mr-3" src="images/image2.jpg" alt="image-2">
                  <div class="media-body">
                    <h5 class="media-body__title mt-0 mb-1">Tranh cãi gay gắt về "chiến lược loại bỏ CO2" của Đức</h5>
                  </div>
                </li>
              </ul>
              <ul class="list-unstyled">
                <li class="media">
                  <img class="mr-3" src="images/image5.jpg" alt="image-5">
                  <div class="media-body">
                    <h5 class="media-body__title mt-0 mb-1">Hiện đại hóa lưới điện khu vực nông thôn TP Hà Nội</h5>
                  </div>
                </li>
              </ul>
              <ul class="list-unstyled">
                <li class="media">
                  <img class="mr-3" src="images/image4.jpg" alt="image-4">
                  <div class="media-body">
                    <h5 class="media-body__title mt-0 mb-1">Ngành điện đồng hành cùng người nuôi tôm</h5>
                  </div>
                </li>
              </ul>
              <ul class="list-unstyled">
                <li class="media">
                  <img class="mr-3" src="images/image3.jpg" alt="image-3">
                  <div class="media-body">
                    <h5 class="media-body__title mt-0 mb-1" style="font-size: 13.5px">Việt Nam mong muốn sớm ký Hiệp định thương mại tự do với EU</h5>
                  </div>
                </li>
              </ul>
              <ul class="list-unstyled">
                <li class="media">
                  <img class="mr-3" src="images/image6.jpg" alt="image-6">
                  <div class="media-body">
                    <h5 class="media-body__title mt-0 mb-1">Phấn đấu hoàn thành mục tiêu truyền tải 156 tỷ kWh điện</h5>
                  </div>
                </li>
              </ul>
            </div>
          </div>
          <div class="category mb-5">
            <div class="category__name border-bottom border-success mb-2">
              <button class="btn btn-success rounded-0">SỰ KIỆN</button> 
            </div>
            <div class="row">
              <div class="category__content col-xl-7">
                <h5 class="content__title mb-2">Việt Nam mong muốn sớm ký Hiệp định thương mại tự do với EU</h5>
                <div class="media d-flex flex-column flex-sm-row mb-2">
                  <img class="mr-3" src="images/image-cagetory1.jpg" alt="images/image-cagetory1">
                  <div class="font__desc media-body text-justify">
                    UBND TP Hồ Chí Minh vừa đồng ý cho một công ty của Nhật Bản hợp tác với
                    Công ty TNHH một thành viên Môi trường đô thị thành phố (Citenco) triển khai
                    Mô hình thử nghiệm nhà máy...
                  </div>
                </div>
              </div>
              <div class="col-xl-5">
                <ul class="list-unstyled">
                  <li class="media">
                    <img class="mr-3" src="images/image-cagetory2.jpg" alt="image-cagetory2">
                    <div class="media-body">
                      <h5 class="media-body__title mt-0 mb-1">Năng lượng Mặt Trời: Những ý tưởng sáng tạo và ngộ nghĩnh</h5>
                    </div>
                  </li>
                </ul>
                <ul class="list-unstyled">
                  <li class="media">
                    <img class="mr-3" src="images/image-cagetory3.jpg" alt="image-cagetory3">
                    <div class="media-body">
                      <h5 class="media-body__title mt-0 mb-1">Kế Hoạch thực hiện Thỏa thuận Paris của Việt Nam</h5>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="category mb-5">
            <div class="category__name border-bottom border-success mb-2">
              <button class="btn btn-success rounded-0">XÃ HỘI</button> 
            </div>
            <div class="row">
              <div class="category__content col-xl-7">
                <h5 class="content__title mb-2">Việt Nam mong muốn sớm ký Hiệp định thương mại tự do với EU</h5>
                <div class="media d-flex flex-column flex-sm-row mb-2">
                  <img class="mr-3" src="images/image-cagetory1.jpg" alt="images/image-cagetory1">
                  <div class="font__desc media-body text-justify">
                    UBND TP Hồ Chí Minh vừa đồng ý cho một công ty của Nhật Bản hợp tác với
                    Công ty TNHH một thành viên Môi trường đô thị thành phố (Citenco) triển khai
                    Mô hình thử nghiệm nhà máy...
                  </div>
                </div>
              </div>
              <div class="col-xl-5">
                <ul class="list-unstyled">
                  <li class="media">
                    <img class="mr-3" src="images/image-cagetory2.jpg" alt="image-cagetory2">
                    <div class="media-body">
                      <h5 class="media-body__title mt-0 mb-1">Năng lượng Mặt Trời: Những ý tưởng sáng tạo và ngộ nghĩnh</h5>
                    </div>
                  </li>
                </ul>
                <ul class="list-unstyled">
                  <li class="media">
                    <img class="mr-3" src="images/image-cagetory3.jpg" alt="image-cagetory3">
                    <div class="media-body">
                      <h5 class="media-body__title mt-0 mb-1">Kế Hoạch thực hiện Thỏa thuận Paris của Việt Nam</h5>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="category mb-5">
            <div class="category__name border-bottom border-success mb-2">
              <button class="btn btn-success rounded-0">THẾ GIỚI</button> 
            </div>
            <div class="row">
              <div class="category__content col-xl-7">
                <h5 class="content__title mb-2">Việt Nam mong muốn sớm ký Hiệp định thương mại tự do với EU</h5>
                <div class="media d-flex flex-column flex-sm-row mb-2">
                  <img class="mr-3" src="images/image-cagetory1.jpg" alt="images/image-cagetory1">
                  <div class="font__desc media-body text-justify">
                    UBND TP Hồ Chí Minh vừa đồng ý cho một công ty của Nhật Bản hợp tác với
                    Công ty TNHH một thành viên Môi trường đô thị thành phố (Citenco) triển khai
                    Mô hình thử nghiệm nhà máy...
                  </div>
                </div>
              </div>
              <div class="col-xl-5">
                <ul class="list-unstyled">
                  <li class="media">
                    <img class="mr-3" src="images/image-cagetory2.jpg" alt="image-cagetory2">
                    <div class="media-body">
                      <h5 class="media-body__title mt-0 mb-1">Năng lượng Mặt Trời: Những ý tưởng sáng tạo và ngộ nghĩnh</h5>
                    </div>
                  </li>
                </ul>
                <ul class="list-unstyled">
                  <li class="media">
                    <img class="mr-3" src="images/image-cagetory3.jpg" alt="image-cagetory3">
                    <div class="media-body">
                      <h5 class="media-body__title mt-0 mb-1">Kế Hoạch thực hiện Thỏa thuận Paris của Việt Nam</h5>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="category mb-5">
            <div class="category__name border-bottom border-success mb-2">
              <button class="btn btn-success rounded-0">GIÁO DỤC</button> 
            </div>
            <div class="row">
              <div class="category__content col-xl-7">
                <h5 class="content__title mb-2">Việt Nam mong muốn sớm ký Hiệp định thương mại tự do với EU</h5>
                <div class="media d-flex flex-column flex-sm-row mb-2">
                  <img class="mr-3" src="images/image-cagetory1.jpg" alt="images/image-cagetory1">
                  <div class="font__desc media-body text-justify">
                    UBND TP Hồ Chí Minh vừa đồng ý cho một công ty của Nhật Bản hợp tác với
                    Công ty TNHH một thành viên Môi trường đô thị thành phố (Citenco) triển khai
                    Mô hình thử nghiệm nhà máy...
                  </div>
                </div>
              </div>
              <div class="col-xl-5">
                <ul class="list-unstyled">
                  <li class="media">
                    <img class="mr-3" src="images/image-cagetory2.jpg" alt="image-cagetory2">
                    <div class="media-body">
                      <h5 class="media-body__title mt-0 mb-1">Năng lượng Mặt Trời: Những ý tưởng sáng tạo và ngộ nghĩnh</h5>
                    </div>
                  </li>
                </ul>
                <ul class="list-unstyled">
                  <li class="media">
                    <img class="mr-3" src="images/image-cagetory3.jpg" alt="image-cagetory3">
                    <div class="media-body">
                      <h5 class="media-body__title mt-0 mb-1">Kế Hoạch thực hiện Thỏa thuận Paris của Việt Nam</h5>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="category mb-1">
            <div class="category__name border-bottom border-success mb-2">
              <button class="btn btn-success rounded-0">GIẢI TRÍ</button> 
            </div>
            <div class="row">
              <div class="category__content col-xl-7">
                <h5 class="content__title mb-2">Việt Nam mong muốn sớm ký Hiệp định thương mại tự do với EU</h5>
                <div class="media d-flex flex-column flex-sm-row mb-2">
                  <img class="mr-3" src="images/image-cagetory1.jpg" alt="images/image-cagetory1">
                  <div class="font__desc media-body text-justify">
                    UBND TP Hồ Chí Minh vừa đồng ý cho một công ty của Nhật Bản hợp tác với
                    Công ty TNHH một thành viên Môi trường đô thị thành phố (Citenco) triển khai
                    Mô hình thử nghiệm nhà máy...
                  </div>
                </div>
              </div>
              <div class="col-xl-5">
                <ul class="list-unstyled">
                  <li class="media">
                    <img class="mr-3" src="images/image-cagetory2.jpg" alt="image-cagetory2">
                    <div class="media-body">
                      <h5 class="media-body__title mt-0 mb-1">Năng lượng Mặt Trời: Những ý tưởng sáng tạo và ngộ nghĩnh</h5>
                    </div>
                  </li>
                </ul>
                <ul class="list-unstyled">
                  <li class="media">
                    <img class="mr-3" src="images/image-cagetory3.jpg" alt="image-cagetory3">
                    <div class="media-body">
                      <h5 class="media-body__title mt-0 mb-1">Kế Hoạch thực hiện Thỏa thuận Paris của Việt Nam</h5>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div> <!-- end content -->
        <div class="main__aside col-xl-4">
          <img class="img-fluid image__sidebar mb-4 d-none d-xl-block" src="images/image-sidebar1.jpg" alt="image-sidebar1">
          <div class="read_most">
            <h5 class="py-2 border-bottom border-success">ĐỌC NHIỀU NHẤT</h5>
            <ul class="list-unstyled">
              <li class="media">
                <img class="mr-3 image--size" src="images/image2.jpg" alt="image-2">
                <div class="media-body">
                  <h5 class="media-body__title mt-0 mb-1">Ngân hàng có kế hoạch tuyển hàng nghìn nhân sự</h5>
                </div>
              </li>
            </ul>
            <ul class="list-unstyled">
              <li class="media">
                <img class="mr-3 image--size" src="images/image5.jpg" alt="image-5">
                <div class="media-body">
                  <h5 class="media-body__title mt-0 mb-1">Thưởng tết ngân hàng vẫn còn nhiều ẩn số</h5>
                </div>
              </li>
            </ul>
            <ul class="list-unstyled">
              <li class="media">
                <img class="mr-3 image--size" src="images/image4.jpg" alt="image-4">
                <div class="media-body">
                  <h5 class="media-body__title mt-0 mb-1">Airbus lần đầu tiên bán được máy bay A380 sau 2 năm.. ế</h5>
                </div>
              </li>
            </ul>
            <ul class="list-unstyled">
              <li class="media">
                <img class="mr-3 image--size" src="images/image3.jpg" alt="image-3">
                <div class="media-body">
                  <h5 class="media-body__title mt-0 mb-1">Gã khổng lồ Thái định thâu tóm toàn bộ Prime Group</h5>
                </div>
              </li>
            </ul>
            <ul class="list-unstyled">
              <li class="media">
                <img class="mr-3 image--size" src="images/image7.jpg" alt="image-7">
                <div class="media-body">
                  <h5 class="media-body__title mt-0 mb-1">Richard Branson: 'Muốn có năng suất hơn? Hãy đúng giờ hơn!'</h5>
                </div>
              </li>
            </ul>
            <ul class="list-unstyled">
              <li class="media">
                <img class="mr-3 image--size" src="images/image8.jpg" alt="image-8">
                <div class="media-body">
                  <h5 class="media-body__title mt-0 mb-1">Hà Nội: Đẩy nhanh điện khí hóa nông thôn</h5>
                </div>
              </li>
            </ul>
            <ul class="list-unstyled">
              <li class="media">
                <img class="mr-3 image--size" src="images/image4.jpg" alt="image-4">
                <div class="media-body">
                  <h5 class="media-body__title mt-0 mb-1">Airbus lần đầu tiên bán được máy bay A380 sau 2 năm.. ế</h5>
                </div>
              </li>
            </ul>
            <ul class="list-unstyled">
              <li class="media">
                <img class="mr-3 image--size" src="images/image2.jpg" alt="image-2">
                <div class="media-body">
                  <h5 class="media-body__title mt-0 mb-1">Ngân hàng có kế hoạch tuyển hàng nghìn nhân sự</h5>
                </div>
              </li>
            </ul>
          </div>
          <img class="img-fluid image__sidebar mt-3 d-none d-xl-block" style="height: 525px" src="images/image-sidebar2.jpg" alt="image-sidebar2">
        </div> <!-- end aside -->
      </div>
    </div>
</div> <!-- end main -->
  <div class="footer bg-success text-white py-5">
    <div class="container">
      <div class="row">
        <div class="footer__about col-lg-6 col-xl-3">
          <h3 class="mb-4">VỀ CHÚNG TÔI</h3>
          <p class="text-justify"><b>VIETSOZ</b> được thành lập vào tháng 8 năm 2016, hứa hẹn sẽ là một công ty
          hàng đầu sẽ cung cấp các giải pháp công nghệ tốt nhất cả trong nước và ngoài nước</p>
          <p><i class="far fa-envelope mr-3"></i>support@vietsoz.com</p>
          <p><i class="fas fa-phone-alt mr-3"></i>09.888.59.692</p>
        </div>
        <div class="footer__category col-lg-6 col-xl-2">
          <h3 class="mb-4">DANH MỤC</h3>
          <p><span class="mr-3">&gt;</span>Sự kiện</p>
          <p><span class="mr-3">&gt;</span>Xã hội</p>
          <p><span class="mr-3">&gt;</span>Thế giới</p>
          <p><span class="mr-3">&gt;</span>Giáo dục</p>
          <p><span class="mr-3">&gt;</span>Nhịp sống trẻ</p>
        </div>
        <div class="footer__highlight-news col-lg-6 col-xl-4">
          <h3 class="mb-4">TIN TỨC NỔI BẬT</h3>
          <p><span class="mr-3">&gt;</span>Năng lượng Mặt trời: Những ý tưởng sáng tạo và ngộ nghĩnh</p>
          <p><span class="mr-3">&gt;</span>Năng lượng Mặt trời: Những ý tưởng sáng tạo và ngộ nghĩnh</p>
          <p><span class="mr-3">&gt;</span>Năng lượng Mặt trời: Những ý tưởng sáng tạo và ngộ nghĩnh</p>
        </div>
        <div class="footer__fanpage col-lg-6 col-xl-3">
          <h3 class="mb-4">FANPAGE</h3>
          <img src="images/image-fanpage.jpg" alt="fanpage">
        </div>
      </div>
    </div>
  </div> <!-- end footer -->
  <div class="copy-right">
    <div class="container">
      <div class="row text-center py-2">
        <div class="font col-12">
          &copy; 2017 All right reserved - Bản quyền thuộc về VIETSOZ.com
        </div>
      </div>
    </div>
  </div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <script src="https://kit.fontawesome.com/782efd29fa.js"></script>
</body>
</html>
