/Source/Backend/node_modules
/Source/Backend/public/images/avatars/
/Source/Backend/public/images/news/
/Source/Backend/public/hot
/Source/Backend/public/css
/Source/Backend/public/js
/Source/Backend/public/storage
/Source/Backend/storage/*.key
/Source/Backend/vendor
/Source/Backend/public/messages.js
/Source/Backend/public/templates
/Source/Backend/tests
/Source/Backend/.env
.idea
.vscode
/Source/Backend/.phpunit.result.cache
/Source/Backend/Homestead.json
/Source/Backend/Homestead.yaml
/Source/Backend/npm-debug.log
/Source/Backend/yarn-error.log
