/* Import */
@import url('https://fonts.googleapis.com/css?family=Roboto:300i,400,500,700&display=swap');

/* Custom CSS */
nav.navbar div.container .nav__logo--impact {
  font-size: 34px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
nav.navbar div.container div.collapse .navbar__item--roboto {
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
}
nav.navbar div.container div.collapse form.form-inline .form-search__placeholder {
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
  font-weight: 300;
  font-style: italic;
}
.inner-addon { 
  position: relative; 
}
.inner-addon .fas {
  position: absolute;
  padding: 10px;
  pointer-events: none;
}
.right-addon .fas { 
  right: 10px;
  color: rgb(212, 197, 197);
}
.right-addon input { 
  padding-right: 30px; 
}

.copy-right .container .row .font {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  color: rgb(78, 69, 69);
}
.footer .container .row h3 {
  font-size: 21px;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
}
.content__card .card__title {
  font-size: 24px;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
}
.content__card .card__desc {
  font-size: 15px;
  font-family: 'Roboto', sans-serif;
}
.media-body__title {
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  line-height: 20px;
}
.image__sidebar {
  width: 100%;
}
.category__name  {
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
}
.content__title {
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
}
.font__desc {
  font-size: 13px;
  font-family: 'Roboto', sans-serif;
}
.read_most {
  width: 100%;
}
.read_most h5 {
  font-size: 21px;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
}

.main__aside  .media-body__title {
  font-size: 15px;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
}
.image--size {
  max-width: 125px;
  width: 100%;
  height: 80px;
}
.footer p {
  font-size: 15px;
  font-family: 'Roboto', sans-serif;
}
.cate__tittle {
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
}
.cate__time {
  font-size: 12px;
  font-family: 'Roboto', sans-serif;
}
.cate__desc {
  font-size: 13px;
  font-family: 'Roboto', sans-serif;
}
.cate__img {
  height: 140px;
  max-width: 250px;
  width: 100%;
}
.pagination a {
  color: black !important;
}
.pagination li.active a {
  color: white !important;
}
.category__name a {
  color: white;
}

@media screen and (min-width: 576px) and (max-width: 767px) {
  .right-addon .fas {
    right: 67%;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .right-addon .fas {
    right: 75%;
  }
}
@media screen and (min-width: 992px) and (max-width: 1189px) {
  .right-addon .fas {
    right: 81%;
  }
}

@media screen and (max-width: 1189px) {
  #main-content {
    border-right: none !important;
  }
}